{# qui si definisce come formattare il form con nome indicato in form_widget e con route che rimanda al controller definita in path #}

<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>CLIR service configuration</title>
		<link rel="stylesheet" href="/css/Style1.css" />
	</head>
  
	<body>
		<div class="wrap">
			<h2>CLIR service configuration</h2>
			<form action="{{ path('clir') }}" method="post" {{ form_enctype(clir_form) }}>
					{{ form_widget(clir_form) }}  {{ form_errors(clir_form) }}  {{error_msg}}
				<br>
					<input type="submit" />
			</form>
			<form method="link" action="{{ path('prefix') }} "><input type="submit" value=" Skip CLIR configuration"></form>
			<form method="link" action="{{ path('newpui') }} "><input type="submit" value=" Back to PUI configuration"></form>
		</div>
		<aside class="summary">
			<h2>Summary</h2>
			{{summary.printUserXML}}
		</aside>
    </body>
