{# qui si definisce come formattare il form con nome indicato in form_widget e con route che rimanda al controller definita in path #}


<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>PUI configuration</title>
		<link rel="stylesheet" href="/css/Style1.css" />
	</head>
  
	<body>
		<div class="wrap">
			<h2>PUI configuration</h2>
			For Multinumber you need at least one BRI port
			Form GNR you need at least 3 BRI ports
			<h4>Please choose the PUI to be configured on customer's CPE</h4>
			<form action="{{ path('newpui') }}" method="post" {{ form_enctype(newpui_form) }}>
					{{ form_widget(newpui_form) }} 
					<br><input type="submit" value="Configure PUI"/>
			</form>
			<form method="link" action="{{ path('fax') }} "><input type="submit" value=" No more PUI configuration"></form>
		</div>
		<aside class="summary">
			<h2>Summary</h2>
			{{summary.printUserXML}}
			</aside>

    </body>
{# empty Twig template #}