{# qui si definisce come formattare il form con nome indicato in form_widget e con route che rimanda al controller definita in path #}

<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>POS service configuration</title>
		<link rel="stylesheet" href="/css/Style1.css" />
	</head>
  
	<body>
		<div class="central">
			<h2>POS service configuration</h2>
			<form action="{{ path('pos') }}" method="post" {{ form_enctype(pos_form) }}>
					{{ form_widget(pos_form) }}  {{ form_errors(pos_form) }}
				<br>
					<input type="submit" />
			</form>
			<form method="link" action="{{ path('prefix') }} "><input type="submit" value=" Skip POS configuration"></form>

		</div>

    </body>
