{# qui si definisce come formattare il form con nome indicato in form_widget e con route che rimanda al controller definita in path #}

<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Prefix configuration</title>
		<link rel="stylesheet" href="/css/Style1.css" />
	</head>
  
	<body>
{#		<div class="wrap">
			<h2>Cli list configuration ({{servicetype}} configuration)</h2>
			{% if servicetype == 'fax' %}
				<form action="{{ path('faxcli') }}" method="post" {{ form_enctype(list_form) }}>
			{% elseif servicetype == 'pos' %}
				<form action="{{ path('poscli') }}" method="post" {{ form_enctype(list_form) }}>
			{% endif %}
					{{ form_widget(list_form) }}  {{ form_errors(list_form) }}
			<h5 class="error"> <br>  {{error_msg}}</h5>
			<br>
					<input type="submit" />
			</form>
			{% if servicetype == 'fax' %}
				<form method="link" action="{{ path('pos') }} "><input type="submit" value=" Skip {{servicetype}} configuration"></form>
			{% elseif servicetype == 'pos' %}
				<form method="link" action="{{ path('fax') }} "><input type="submit" value=" Skip {{servicetype}} configuration"></form>
			{% endif %}
			<form method="link" action="{{ path('newpui') }} "><input type="submit" value=" Back to PUI configuration"></form>
		</div>
	#}	<aside class="summary">
			<h2>Summary</h2>
			{{summary.printUserXML}}
		</aside>

    </body>
