{# qui si definisce come formattare il form con nome indicato in form_widget e con route che rimanda al controller definita in path #}

<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Prefix configuration </title>
		<link rel="stylesheet" href="/css/Style1.css" />
	</head>
	<body>
		<div class="wrap">
			<h2>Prefix configuration </h2>
			<form action="{{ path('prefix') }}" method="post" {{ form_enctype(prefix_form) }}>
					{{ form_widget(prefix_form) }}  {{ form_errors(prefix_form) }}
				<br>
					<input type="submit" />
			</form>
			<form method="link" action="{{ path('pobri') }} "><input type="submit" value=" Skip prefix configuration"></form>
		</div>
		<aside class="summary">
			<h2>Summary</h2>
			{{summary.printUserXML}}
		</aside>

    </body>
